:root{
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


*{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  .logo {
    position: absolute;
    width: 60px;
    top:5% ;left: 7%;
}
  .menutexto {
    color: #fff;
    position: relative;
    top: 20px; left: 50px;
  }   
  
  .content {
    text-align: center;
  }
  
  .footer {
    background-color: #166e00;
}
  
  .footer p {
    font-size: 14px;
  }

  .search-container {

    border-radius: 20px;
  }
  
  form {
    display: flex;
  }
  
  input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
  }
  
  button {
    padding: 8px 16px;
    background-color: #1f9c00;
    color: #fff;
    border: 1px solid #1f9c00bb;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #166e00;
    border-color: #1f9c00f9;
  }
  