:root{
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


  *{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
  }
  body {
    background-color: #ffffff;
    color: #000000;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  .botao__menu {
    position: absolute;
    width: 30px;
    top: 4%; right: 97%;
    
  }
  .logo {
    position: absolute;
    width: 60px;
    top:3% ;left: 7%;
  }
  .menutexto {
    color: #fff;
 
  }   
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline-block;
    margin-right: 20px;
  }
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  .content {
    text-align: center;
  }
  .search-container {

    border-radius: 20px;
  }

  form {
    display: flex;
  }
  
  input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px 0px 0px 20px ;
    outline: none;
  }
  
  button {
    padding: 8px 16px;
    background-color: green;
    color: #fff;
    border: 1px solid #1f9c00bb;
    border-radius: 0px 20px 20px 0px ;
    cursor: pointer;
    outline: none;

  }
  
  button:hover {
    background-color: #166e00;
    border-color: #1f9c00f9;
  }
  .navbar {
    background-color: #1f9c00;
    color: #000000;
    padding: 5px 10px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .corpo__titulo{
    text-align: center;
  }
  .corpo__imagem1{
    width: 500px;
    height: 300px;
    justify-content:center;
    border-radius: 15px;
  }
  .sessao1{
    flex-direction: row;
  }
  .artigo1{
    background-color: lightgray;
    max-width: 500px;
    align-content: baseline;
    border-radius: 15px;
    align-items: center;
  }
  .artigo2{
    background-color: lightgray;
    max-width: 500px;
    align-content: baseline;
    border-radius: 15px;
  }
  .footer {
    background-color: #166e00;
    margin-bottom: none;
    position:absolute;
    bottom: 0%;
    width: 100%;
    height: 50px;
  }
  
  .footer p {
    
  }
